[submodule "submodules/jquery-ui"]
	path = submodules/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "submodules/backbone"]
	path = submodules/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "submodules/underscore"]
	path = submodules/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "submodules/selectivizr"]
	path = submodules/selectivizr
	url = git://github.com/keithclark/selectivizr.git
