[submodule "submodules/jquery-ui"]
	path = submodules/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "submodules/backbone"]
	path = submodules/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "submodules/underscore"]
	path = submodules/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "submodules/selectivizr"]
	path = submodules/selectivizr
	url = git://github.com/keithclark/selectivizr.git
[submodule "submodules/PIE"]
	path = submodules/PIE
	url = git@github.com:SAPikachu/PIE.git
[submodule "submodules/Font-Awesome"]
	path = submodules/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "submodules/django-hitcount"]
	path = submodules/django-hitcount
	url = git@github.com:SAPikachu/django-hitcount.git
[submodule "submodules/django-generic-aggregation"]
	path = submodules/django-generic-aggregation
	url = git@github.com:SAPikachu/django-generic-aggregation.git
[submodule "submodules/django-grappelli"]
	path = submodules/django-grappelli
	url = git://github.com/sehmaschine/django-grappelli.git
