{% load admin_urls %}
{% load url from future %}
{% include "admin/edit_inline/tabular.html" %}
<script type="text/javascript">
jQuery(function ($) {
    var inline_params = {
        app_label: "{{ opts.app_label }}",
        parent_model_name: "{{ opts.module_name }}",
        parent_model_pk: "{{ original.pk }}",
        relation_name: "{{ inline_admin_formset.opts.opts.module_name }}",
        sortable: "{{ inline_admin_formset.opts.opts.order_with_respect_to|yesno:"true,false" }}",
        set_model_order_url: "{% url "pikapika.ajax_services.admin.set_model_order" %}",
        url_prefix: "{% url inline_admin_formset.opts.opts|admin_urlname:"change" -1 %}"
    };
    $("#{{ inline_admin_formset.formset.prefix }}-group").
        submodelInline(inline_params);
});
</script>
