{% load html_helpers %}{% load url from future %}<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title-full %}{% block title %}{% endblock %} - PikaPika Alpha 2{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    {% block css-common %}
    {% css "screen.css" %}
    {% endblock %}
    {% js "modernizr.js" %}
    {% if load_live_js %}
    {% js "live.js" %}
    {% endif %}
    {% if not debug %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19525559-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
    {% block head-extra %}{% endblock %}
    {% endblock head %}
</head>

<body class="{% block body-class %}{% endblock %}">

<div id="sticky-footer-wrap">
    <header id="page-header">
        {% block header %}
        <a class="title" href="{% url "index" %}"><h1>PikaPika</h1></a>
        <nav>
            {% block nav %}
            <ul>
                <li><a href="{% url "index" %}">首页</a></li>
                {% for item in nav_menu_items %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% empty %}
                {% endfor %}
                {% block nav-menu-extra %}{% endblock %}
            </ul>
            {% endblock %}
        </nav>
        {% endblock %}
    </header>
    <div id="page">
        <div class="page-sheet">
            {% block page-main %}
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
            <aside id="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>
            {% endblock %}
        </div>
    </div>

</div>

<footer id="page-footer">
    {% block footer %}
    <div id="footer-info">
        PikaPika Alpha 2
    </div>
    <div id="copyright">
        Copyright 2010-2012 PikaPika Project
    </div>
    {% endblock %}
</footer>

</body>

</html>
