{% load html_helpers %}{% load url from future %}<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    {% block head %}
    <title>{% block title-full %}{% block title %}{% endblock %} - PikaPika Alpha 2{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    {% for i in "678" %}
    <!--[if IE {{ i }}]>
    <script type="text/javascript">document.documentElement.className += " ie{{ i }}";</script>
    <![endif]-->
    {% endfor %}
    {% block css-common %}
    {% css "screen.css" %}
    {% endblock %}
    {% js "modernizr.js" %}
    {% if not debug %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19525559-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
    {% block head-extra %}{% endblock %}
    {% endblock head %}
</head>

<body class="{% block body-class %}{% endblock %}">

<!--[if lt IE 8]>
    <div id="old-ie-notice">
        您的IE娘太⑨了，笨蛋浏览器什么的最讨厌了！快快换上更聪明的<a href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx">IE姐姐</a> / <a href="http://www.mozilla.com/products/download.html">火狐酱</a> / <a href="http://www.google.com/chrome">铬姬</a>吧！
    </div>
<![endif]-->


<div id="sticky-footer-wrap">
    <header id="page-header">
        {% block header %}
        <a class="title" href="{% url "index" %}"><h1>PikaPika</h1></a>
        <nav>
            {% block nav %}
            <ul>
                <li><a href="{% url "index" %}">首页</a></li>
                <li><a href="{% url "list" %}">全部小说</a></li>
                <li><a href="{% url "list" cat_start="a" cat_end="e" %}">A - E</a></li>
                <li><a href="{% url "list" cat_start="f" cat_end="j" %}">F - J</a></li>
                <li><a href="{% url "list" cat_start="k" cat_end="o" %}">K - O</a></li>
                <li><a href="{% url "list" cat_start="p" cat_end="t" %}">P - T</a></li>
                <li><a href="{% url "list" cat_start="u" cat_end="z" %}">U - Z</a></li>
                {% for item in nav_menu_items %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% empty %}
                {% endfor %}
                {% block nav-menu-extra %}{% endblock %}
            </ul>
            {% endblock %}
        </nav>
        {% endblock %}
    </header>
    <div id="page">
        <div class="page-sheet">
            {% block page-main %}
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
            <aside id="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>
            {% endblock %}
        </div>
    </div>

</div>

<footer id="page-footer">
    {% block footer %}
    <div class="info">
        <p>PikaPika Alpha 2</p>
        <p>
            <a href="https://github.com/SAPikachu/pikapika-py/issues">意见反馈</a>
            |
            <a href="https://pikapika.uservoice.com/forums/82401-general?lang=cn">新小说/新功能投票</a>
            |
            <a href="http://twitter.com/pikapika_novel">Twitter</a>
        </p>
    </div>
    <div id="copyright">
        Copyright 2010-2012 <a href="https://github.com/SAPikachu/pikapika-py">PikaPika Project</a>
    </div>
    {% endblock %}
</footer>

</body>

</html>
