{{ super }}

<fieldset class="image-uploader qq-uploader" id="image-uploader-{{ attrs.id }}">
    <div class="preview">
        <div class="qq-upload-spinner"></div>
        <img />
    </div>
    <div class="grp-row grp-cells-2">
        <div class="column g-d-2">
            <label>From URL:</label>
        </div>
        <div class="column grp-span-fluid">
            <input type="text" maxlength="2048" class="external-url"/>
        </div>
    </div>
    <div class="grp-row grp-cells-2">
        <div class="column g-d-2">
            <label>Cookies:</label>
        </div>
        <div class="column g-d-fluid">
            <textarea class="g-d-5 external-cookies"></textarea>
        </div>
    </div>
    <div class="grp-row grp-cells-2">
        <div class="column g-d-2">
            <input type="submit" class="grp-form-button download-button" value="Download"/>
        </div>
        <div class="column">
            <div class="qq-upload-button grp-form-button">Upload from local</div>
        </div>
        <div class="qq-upload-drop-area column">
            <span>Drop file here to upload</span>
        </div>
    </div>
    <div class="grp-row grp-cells-1">
        <div class="column">
            <ul class="qq-upload-list"></ul>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
(function($) {
    $.fn.imageUploader = function(target_elem, url_upload, url_from_external, image_root) {
        return this.each(function() {
            var o = $(this);
            var preview_div = o.find(".preview");

            // Don't let buttons submit the page
            o.find("input[type=submit]").click(function(e) { 
                e.preventDefault(); 
            });
            preview_div.find("img").load(function() {
                preview_div.find(".qq-upload-spinner").hide();
                $(this).show();
            }).error(function() {
                preview_div.find(".qq-upload-spinner").hide();
            }).click(function() {
                window.open(this.src);
            });
            target_elem.change(function() {
                preview_div.find(".qq-upload-spinner").show();
                preview_div.find("img").hide().
                    attr("src", image_root + $(this).val());
            }).change();
            var uploader = new qq.FileUploader({
                element: this,
                action: url_upload,
                sizeLimit: 5 * 1024 * 1024,
                template: null,
                csrfToken: $.cookie("csrftoken"),
                onComplete: function(id, fileName, responseJSON) {
                    target_elem.val(responseJSON.name).change();
                }
            });
            o.find(".download-button").click(function() {
                var url = $.trim(o.find(".external-url").val());
                if (!url) {
                    return;
                }
                var button = $(this);
                button.attr("disabled", "disabled");
                var list_item = $(uploader._options.fileTemplate);
                list_item.find(".qq-upload-file").text(url);
                list_item.find(".qq-upload-cancel").remove();
                list_item.appendTo(o.find(".qq-upload-list"));
                $.ajax({
                    type: "POST",
                    url: url_from_external,
                    data: {
                        url: url,
                        cookies: o.find(".external-cookies").val()
                    },
                    dataType: "json",
                    success: function(data) {
                        target_elem.val(data.name).change();
                        list_item.addClass("qq-upload-success");
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        var content_type = xhr.getResponseHeader("Content-Type").toLowerCase();
                        if (content_type.indexOf("application/json") === 0) {
                            var resp = $.parseJSON(xhr.responseText);
                            list_item.find(".qq-upload-failed-text").text(
                                "Failed (" + resp.message + ")"
                            );
                        }
                        list_item.addClass("qq-upload-fail");
                    },
                    complete: function() {
                        button.removeAttr("disabled");
                        list_item.find(".qq-upload-spinner").remove();
                    }
                });
            });
        });
    };

    $("#image-uploader-{{ attrs.id }}").imageUploader(
        $("#{{ attrs.id }}"),
        "/ajax/image_upload/upload_from_local",
        "/ajax/image_upload/upload_from_url",
        "{{ image_root }}"
    );
})(jQuery);
</script>
