{{ super }}
{% load url from future %}

<fieldset class="image-uploader qq-uploader" id="image-uploader-{{ attrs.id }}">
    <div class="preview">
        <div class="qq-upload-spinner"></div>
        <img />
    </div>
    <div class="grp-row grp-cells-2">
        <div class="column g-d-2">
            <label>From URL:</label>
        </div>
        <div class="column grp-span-fluid">
            <input type="text" maxlength="2048" class="external-url"/>
        </div>
    </div>
    <div class="grp-row grp-cells-2">
        <div class="column g-d-2">
            <label>Cookies:</label>
        </div>
        <div class="column g-d-fluid">
            <textarea class="g-d-5 external-cookies"></textarea>
        </div>
    </div>
    <div class="grp-row grp-cells-2">
        <div class="column g-d-2">
            <input type="submit" class="grp-form-button download-button" value="Download"/>
        </div>
        <div class="column">
            <div class="qq-upload-button grp-form-button">Upload from local</div>
        </div>
        <div class="qq-upload-drop-area column">
            <span>Drop file here to upload</span>
        </div>
    </div>
    <div class="grp-row grp-cells-1">
        <div class="column">
            <ul class="qq-upload-list"></ul>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
jQuery(function($) {
    $("#image-uploader-{{ attrs.id }}").imageUploader(
        $("#{{ attrs.id }}"),
        "{% url "pikapika.ajax_services.image_upload.upload_from_local" %}",
        "{% url "pikapika.ajax_services.image_upload.upload_from_url" %}",
        "{{ image_root }}"
    );
});
</script>
