{% extends "novel/includes/base.html" %}
{% load url from future %}
{% load html_helpers %}

{% block title %}{{ novel.name }}{% endblock %}

{% block body-class %}no-sidebar page-details{% endblock %}

{% block content %}
<figure class="novel-image">
    {% if novel.image %}
    <a href="{{ novel.image.url }}">
        <img src="{% url "thumbnail" path=novel.image.name max_width=220 max_height=10000 %}"/>
    </a>
    {% else %}
    <span class="placeholder"></span>
    {% endif %}
</figure>
<section class="novel-info">
    <h2>{{ novel.name }}</h2>
    <dl>
        <dt>更新</dt>
        <dd><time datetime="{{ novel.updated_date|date:"c" }}">{{ novel.updated_date|date:"Y-m-d H:i" }}</time></dd>
        <dt>作者</dt>
        <dd>{{ novel.author }}</dd>
        <dt>出版</dt>
        <dd>{{ novel.publisher }}</dd>
        <dt>点击</dt>
        <dd>{{ novel.hit_count }}</dd>
        <dt>吐槽</dt>
        <dd>{# TODO #}&nbsp;</dd>
        {% if novel.latest_chapter %}
        <dt>最新章节</dt>
        <dd>
            <a href="{% url "read" pk=novel.latest_chapter.pk %}">
                {{ novel.latest_chapter.volume.name }} - {{ novel.latest_chapter.name }}
            </a>
        </dd>
        {% endif %}
    </dl>
    <div class="description">
        {{ novel.description|linebreaksbr }}
    </div>
</section>

<section class="volume-list">
    <ul>
        {% for volume in novel.volume_set.all %}
        <li class="volume">
            <div id="volume-{{ volume.pk }}" class="anchor">
                {# This is required, see comments in the stylsheet #}
            </div>
            <h3>{{ volume.name }}</h3>
            <div class="volume-info">
                <figure>
                    {% if volume.image %}
                    <a href="{{ volume.image.url }}">
                        <img src="{% url "thumbnail" path=volume.image.name max_width=140 max_height=10000 %}"/>
                    </a>
                    {% else %}
                    <span class="placeholder"></span>
                    {% endif %}
                </figure>
                <div class="description">
                    {{ volume.description|linebreaksbr }}
                </div>
            </div>
            {% spaceless %}
            <ul class="chapter-list">
                {% for chapter in volume.chapter_set.all %}
                <li>
                    <a href="{% url "read" pk=chapter.pk %}">{{ chapter.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endspaceless %}
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}

{% block head-extra %}
{% requirejs "pages/details" %}
{% endblock %}
