{% extends "novel/includes/base.html" %}
{% load url from future %}
{% load static %}
{% load html_helpers %}

{% block title-full %}PikaPika 轻小说吐槽计划 Alpha 2{% endblock %}

{% block head-extra %}
<link href="{% url "latest_novels_feed" %}" type="application/atom+xml" rel="alternate" title="最近更新" />
{% requirejs "pages/index" %}
{% endblock %}

{% block body-class %}page-index{% endblock %}

{% block content %}
<section>
    <h2>最近更新</h2>
    <ul id="latest-novels">
        {% for novel in latest_novels %}
        <li>
            <a href="{% url "details" pk=novel.pk %}" class="novel-link">
                {% spaceless %}
                <div class="image">
                    {% if novel.image %}
                    <img src="{% url "thumbnail" path=novel.image.name max_width=80 max_height=110 %}"/>
                    {% else %}
                    <span class="placeholder"></span>
                    {% endif %}
                </div>
                {% endspaceless %}
                <div class="novel-name">
                    {{ novel.name }}
                </div>
            </a>
            <a href="{% url "details" pk=novel.pk %}#volume-{{ novel.latest_chapter.volume.pk }}" class="latest-chapter-link">
                {{ novel.latest_chapter.volume.name }} - {{ novel.latest_chapter.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="latest-annotations">
    <h2>大家在吐槽...</h2>
    <p>吐槽系统升级中，请期待～</p>
</section>
{% endblock %}

{% block sidebar %}
<section>
    <h2>搜索小说</h2>
    <div id="google-search">
        <div id="cse-search-form">
            <!-- fallback for browsers without javascript -->
            <form class="gsc-search-box" accept-charset="utf-8"  action="http://www.google.com/cse">
                <input type="hidden" name="cx" value="004444445504374248743:pn98cdeq3ys" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" class="gsc-input" name="q" title="搜索"/>
                <input type="hidden" class="gsc-search-button" value="搜索" name="sa"/>
                <span class="icon-search-button"><i class="icon-search"></i></span>
            </form>
        </div>
    </div>
</section>
<section>
    <h2>一周排行</h2>
    <ul id="hottest-novels">
        {% for novel in hottest_novels %}
            <li>
                <a href="{% url "details" pk=novel.pk %}">
                    <span class="name">{{ novel.name }}</span>
                    <span class="hit-count-last-week">{{ novel.hit_count_last_week }}<i class="icon-fire" title="热度"></i></span>
                </a>
            </li>
        {% empty %}
        {% endfor %}
    </ul>
</section>
<section>
    <h2>更多吐槽</h2>
    <ul>
        <li>
            <a href="http://bilibili.tv/">BiliBili</a>
        </li>
        <li>
            <a href="http://www.acfun.tv/">Acfun 天下漫友是一家</a>
        </li>
    </ul>
</section>
{% endblock %}
