{% extends "novel/includes/base.html" %}
{% load url from future %}
{% load static %}

{% block title-full %}PikaPika 轻小说吐槽计划 Alpha 2{% endblock %}

{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static "css/google-search.css" %}" />
{% endblock %}

{% block body-class %}page-index{% endblock %}

{% block content %}
<section id="google-search-result" style="display: none;">
    <h2 class="main-title">搜索结果</h2>
    <div class="loading-icon"></div>
    <div id="cse"></div>
    <div id="result-container"></div>
    <div class="gsc-branding"><span class="gsc-branding-text">powered by </span><img src="http://www.google.com/uds/css/small-logo.png" class="gsc-branding-img"/></div>
</section>
<section>
    <h2>最近更新</h2>
    <ul id="latest-novels">
        {% for item in latest_novels %}
        <li>
            <a href="{% url "details" pk=item.novel.pk %}" class="novel-link">
                {% spaceless %}
                <div class="image">
                    {% if item.novel.image %}
                    <img src="{% url "thumbnail" path=item.novel.image.name max_width=80 max_height=110 %}"/>
                    {% else %}
                    <span class="placeholder"></span>
                    {% endif %}
                </div>
                {% endspaceless %}
                <div class="novel-name">
                    {{ item.novel.name }}
                </div>
            </a>
            <a href="{% url "details" pk=item.novel.pk %}#volume-{{ item.chapter.volume.pk }}" class="latest-chapter-link">
                {{ item.chapter.volume.name }} - {{ item.chapter.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<section>
    <h2>大家在吐槽...</h2>
</section>
{% endblock %}

{% block sidebar %}
<section>
    <h2>搜索小说</h2>
    <div id="google-search">
        <div id="cse-search-form">
            <!-- fallback for browsers without javascript -->
            <form class="gsc-search-box" accept-charset="utf-8"  action="http://www.google.com/cse">
                <input type="hidden" name="cx" value="004444445504374248743:pn98cdeq3ys" />
                <input type="hidden" name="ie" value="UTF-8" />
                <span class="gsc-input">
                    <input type="text" autocomplete="off" size="10" class="gsc-input" name="q" title="搜索" style="background: url(&quot;http://www.google.com/coop/intl/zh-CN/images/google_custom_search_watermark.gif&quot;) no-repeat scroll left center rgb(255, 255, 255); width: 197px; margin: 5px 2px 5px 5px">
                </span>
                <span class="gsc-search-button">
                    <input type="submit" value="搜索" class="gsc-search-button" name="sa" title="搜索" style="margin: 5px 0">
                </span>
            </form>
        </div>
    </div>
</section>
<section>
    <h2>一周点击排行</h2>
</section>
<section>
    <h2>更多吐槽</h2>
    <ul>
        <li>
            <a href="http://bilibili.tv/">BiliBili</a>
        </li>
        <li>
            <a href="http://www.acfun.tv/">Acfun 天下漫友是一家</a>
        </li>
    </ul>
</section>
<script src="http://www.google.com/jsapi?key=ABQIAAAAQaiUI5mOlEZX2E44tSKzIxQtp31_LefCXY4LLN3XxdKUdLgLqBTVLnD2PMmvPTUJsAZh2ghya2QlXQ" type="text/javascript"></script></script>
<!-- TODO: Load search script here -->
{% endblock %}
