{% extends "novel/includes/base.html" %}
{% load url from future %}
{% load html_helpers %}

{% block title %}{{ chapter.name }} / {{ chapter.volume.novel.name }} - {{ chapter.volume.name }}{% endblock %}

{% block body-class %}no-sidebar page-read{% endblock %}

{% block content %}
<article>
    <header>
        <h2 class="chapter-name">
            {{ chapter.name }}
        </h2>

        <dl class="chapter-info">
            <dt>更新</dt>
            <dd>{{ chapter.updated_date|date:"Y-m-d H:i" }}</dd>

            <dt>点击</dt>
            <dd id="hit-count">{{ chapter.hit_count }}</dd>
        </dl>

        <div id="reader-style-settings">
            {# TODO: Move it to a expandable panel #}
            <span class="style-group" data-key="font-size">
                <label>字体大小</label>
                <span class="small">小</span>
                <span class="medium">中</span>
                <span class="large">大</span>
                <span class="x-large">特大</span>
                <span class="xx-large">超大</span>
            </span>
            <span class="style-group" data-key="back-color">
                <label>阅读底色</label>
                <span class="F5F5F5">&nbsp;</span>
                <span class="FFFFFF">&nbsp;</span>
                <span class="E9FAFF">&nbsp;</span>
                <span class="FFFFED">&nbsp;</span>
                <span class="FCEFFF">&nbsp;</span>
            </span>
        </div>

        <div class="autoscroll-hint">
            双击正文启动自动滚动，滚动时按键盘方向键上下可调节滚动速度
        </div>
    </header>

    <div class="chapter-content">
        {{ rendered_chapter|safe }}
    </div>

    <footer>
        <nav>
            {% if prev_chapter %}
            <a href="{% url "read" pk=prev_chapter.pk %}" id="link-prev-page" title="快捷键：←">
                &lt;&lt; 上一章
            </a>
            {% endif %}

            <a href="{% url "details" pk=chapter.volume.novel_id %}">
                返回书页
            </a>

            {% if next_chapter %}
            <a href="{% url "read" pk=next_chapter.pk %}" id="link-next-page" title="快捷键：→">
                下一章 &gt;&gt;
            </a>
            {% endif %}
        </nav>
    </footer>
</article>

{% endblock %}

{% block head-extra %}
<script type="text/javascript">
var URLS = { hit: "{% url "hit" %}" };
var HITCOUNT_PK = {{ hitcount_pk }};
</script>
{% requirejs "pages/read" %}
{% endblock %}
