.page-index #page
{
    .page-content h2
    {
        padding-left: $content-padding - 8px;
        padding-right: $content-padding;
        clear: both;
    }
    #latest-novels
    {
        margin: 0;
        padding: 0;
        zoom: 1;

        li
        {
            $padding-vert: 8px;

            @include border-radius($padding-vert);
            @extend %pie;

            // 5 items per row, can't use 20% due to rounding bug on IE7
            width: 18%;
            min-width: 100px;
            float: left;
            margin: 0 0 1em;
            padding: 0 0.95%;
            text-align: center;
            overflow: hidden;

            &:hover
            {
                background-color: #F9F7F0;

                .image
                {
                    @extend %image-shadow-hover;
                }
            }

            &, a
            {
                @extend %generic-transition;
                display: block;
                outline: none;
            }

            .novel-link
            {
                padding-top: $padding-vert;

                .image
                {
                    @extend %image-shadow;
                    @include vertically-center-with-line-height(110px);

                    width: 80px;
                    padding: 2px;
                    text-align: center;
                    margin: 0 auto 6px;

                    img
                    {
                        @extend %pie;
                        @include border-radius($image-shadow-border-radius);

                        height: auto;
                        width: auto;
                        max-width: 100%;
                        max-height: 100%;
                        vertical-align: middle;
                        border: none;
                    }

                    .placeholder
                    {
                        background-image: url("#{$image-base}placeholder.png");
                        background-position: center center;
                        background-repeat: no-repeat;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

            }

            .latest-chapter-link
            {
                font-size: 0.85em;
                padding-bottom: $padding-vert;
            }

            .latest-chapter-link, .novel-name
            {
                height: 1.5em;
                line-height: 1.5em;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        }
    }

    #latest-annotations p
    {
        margin-top: 1em;
        margin-left: $content-padding;
    }

    // Explicitly specify ul to make priority of the rules high enough to 
    // override parent rules (padding)
    ul#hottest-novels
    {
        li
        {
            a
            {
                @include clearfix;
                @extend %yahei-number-fix;

                .hit-count-last-week
                {
                    display: block;
                    float: right;
                    color: $main-color-light;

                    i
                    {
                        margin-left: 0.2em;
                    }
                }
            }
        }
    }

    #google-search 
    {
        padding: 0.4em 1em;
        margin-bottom: 10px;
        overflow: hidden;

        td
        {
            border: 0 none;
        }

        #cse-search-form
        {
            padding: 0.4em 6px;

            form
            {
                margin: 0;
                padding: 0;
                display: block;
                position: relative;

                input.gsc-input
                {
                    @include box-sizing(border-box);
                    margin: 0 2% 0 0;
                    padding: 5px 9px;
                    background: url("http://www.google.com/coop/intl/zh-CN/images/google_custom_search_watermark.gif") no-repeat scroll left center white;
                    width: 100%;
                    @include inline-block;
                    vertical-align: middle;
                    line-height: 18px;
                    height: 30px;

                    &.have-text, &:focus
                    {
                        background: white;
                    }
                }
                .icon-search-button
                {
                    @include border-radius(3px);
                    @extend %generic-transition;
                    color: $main-color;
                    position: absolute;
                    font-size: 110%;
                    cursor: pointer;
                    right: 0;
                    top: 0;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    line-height: 30px;

                    &:hover
                    {
                        font-size: 140%;
                    }
                }
            }
        }
    }

}

